extends layout/_default

prepend ConfigBlock
  - page_name = ''

block ContentBlock
  div.container
    //h1= title
    div
      button#btn-start(type='button' style='font-size: 40px; font-family: Futura, YuGothic, sans-serif;') START
    div#output
      
